<div id="<%= dom_id cart_line_item %>">
  <p>
    <strong>Product:</strong>
    <%= cart_line_item.product_id %>
  </p>

  <p>
    <strong>Shoppingcart:</strong>
    <%= cart_line_item.ShoppingCart_id %>
  </p>

</div>
