<h1>Editing cart line item</h1>

<%= render "form", cart_line_item: @cart_line_item %>

<br>

<div>
  <%= link_to "Show this cart line item", @cart_line_item %> |
  <%= link_to "Back to cart line items", cart_line_items_path %>
</div>
