<div class="columns">
    <div class="column is-one-third">
        <div class="box">
            <div class="title">
                <h1>Browse our various product categories.</h1>
            </div>
            <ul class="content is-normal">
                <li><a>Stoves</a></li>
                <li><a>Tents</a></li>
                <li><a>Sleeping Bag, Pads, and Pillows</a></li>
                <li><a>Cookware</a></li>
                <li><a>Clothing</a></li>
                <li><a>Trekking Poles</a></li>
            </ul>
        </div>
    </div>
    <div class="column is-two-thirds">
        <div class="box">
            <div class="title">
                <h1>News Items:</h1>
            </div>
            <div class="box">
                <div class="content is-normal">
                    Nov. 24, 2022 - We're online! 
                </div>
                <div class="content is-normal">
                    Welcome to our online storefront! You can purchase all the great products that you can in-store right from the 
                    comfort of your home.
                </div>
            </div>
            <div class="box">
                <div class="content is-normal">
                    Nov. 23, 2022 - Testing Testing 
                </div>
                <div class="content is-normal">
                    This is just a test of out new News panel on our website, please don't mind me.
                </div>
            </div>
        </div>
    </div>    
</div>