<div id="<%= dom_id prod_category %>">
  <p>
    <strong>Name:</strong>
    <%= prod_category.name %>
  </p>

  <p>
    <strong>Categoryid:</strong>
    <%= prod_category.categoryId %>
  </p>

</div>


