
<div class="title">Cart</div>

<br>

<div class="box">
  <div class="subtitle">Items in cart:</div>
    <ul>
      <% @cart.each do |product| %>
        <li><%= product.name %> - <%= link_to 'Remove from Cart', remove_from_cart_path(product), method: :delete %> </li>

      <% end %>
    </ul>
</div>
