<div class="box">
    <div class="title">About Us</div>
    <p>Based in Winnipeg, Manitoba, Winnipeg Ultralight outfitters is dedicated to
    supplying hikers hoping to lower their base weight to enjoy their hikes more.
    We provide gear that is well made and meant to last a lifetime. As hikers ourselves,
    we sell the type of gear that we use ourselves, instead of the other guys
    that aren't as in touch with the outdoor experience. We try to have as many items
    on our store as possible, however, if they are pieces of gear that you don't that
    you don't see listed, let us know and we can order it in for you.
    </p>
</div>