
<head>
   <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true  %>
</head>

<div class="content">

  <p style="color: green"><%= notice %></p>

  <div class="title">Categories</div>


  <div id="categories" class="container">
    <ul>
        <% @categories.each do |category| %>
            <li><%= link_to category.name, category.name %></li>
        
        <% end %>
    </ul>
  </div>

</div>