<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">

    
    <a class="navbar-item">
      <h1 class="subtitle">Winnipeg Ultralight Outfitters</h1>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="home">
        Home
      </a>

      <a class="navbar-item" href="<%= products_path%>">
        Products
      </a>

      <a class="navbar-item" href="about">
        About
      </a>

      <a class="navbar-item" href="contact">
        Contact
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <a class="navbar-item" >
            Login / Sign Up
        </a>
        
        <div class="buttons">
          <a class="button is-primary">
            <strong>Cart</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>